<div id="filters" class="section">
    <h3>Filters</h3>
    <div class="container-fluid filter-grid">
        <form class="filter-form">
            <div class="row">
                <div class="col-12 col-sm-3">
                    <label>Tag Name</label>
                    <input type="text" class="tag-input input-element"/>
                    <div class="tag-list">
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <label>Parent Name</label>
                    <input type="text" class="input-element" />
                </div>
                <div class="col-12 col-sm-3">
                    <label>Ancestor Name</label>
                    <input type="text" class="input-element" />
                </div>
                <div class="col-12 col-sm-3">
                    <label>Created By</label>
                    <input type="text" class="input-element" />
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-3">
                    <label>Committee</label>
                    <select class="form-control">
                        <option value="one">One</option>
                        <option value="two">Two</option>
                        <option value="three">Three</option>
                        <option value="four">Four</option>
                        <option value="five">Five</option>
                    </select>
                </div>
                <div class="col-12 col-sm-3">
                    <label>Applies To</label>
                    <select class="form-control">
                        <option value="one">One</option>
                        <option value="two">Two</option>
                        <option value="three">Three</option>
                        <option value="four">Four</option>
                        <option value="five">Five</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12 btn-col">
                    <button class="btn btn-secondary">Remember Filters</button>
                    <button class="btn btn-primary filter-tags" type="submit">Refresh Filters</button>
                </div>
            <div>
        </form>
    </div>
</div>
<div id="results" class="section">
    <div class="container-fluid results-grid ">
        <div class="row head-row">
            <div class="col-12 col-md-1">
                ID
            </div>
            <div class="col-12 col-md-2">
                Path
            </div>
            <div class="col-12 col-md-2">
                Name
            </div>
            <div class="col-12 col-md-2">
                Owner Committee
            </div>
            <div class="col-12 col-md-1">
                Created By
            </div>
            <div class="col-12 col-md-1">
                Date Created
            </div>
            <div class="col-12 col-md-2">
                Description
            </div>
        </div>

    </div>

</div>
