//Custom Styles
//Brand Colors
$brand_lt_blue: #228ae6;
$brand_dk_blue: #1c7cd6;
$brand_alt_blue: #00589C;
$brand_white: #fff;
$brand_red: #c92a2a;
$brand_lt_red: #ffc9c9;
$brand_dk_red: #841618;
$brand_yellow: #FFDD00;
$brand_orange: #F15822;
$brand_gray: #f8f9fa;
$brand_dk_gray: #ced4da;
$brand_black: #495057;
$brand_teal: #22b8cf;
$brand_green: #40c057;
$brand_purple: #A4288C;
$brand_dk_purple: #4D2073;

//Body and Heading text Colors
$body_txt: $brand_black;
$body_link: $brand_lt_blue;
$body_link_hover: $brand_dk_blue;
$heading: $brand_black;
//Footer Colors
$footer_bg: $brand_dk_blue;
$footer_txt: $brand_white;
$copyright_link: $brand_lt_blue;
$copyright_link_hover: $brand_white;
//Header Colors
$header_bg: $brand_lt_blue;
$header_txt: $brand_white;
//Button Colors
$button_bg: $brand_dk_blue;
$button_txt: $brand_white;
$hover_button_bg: $brand_dk_blue;
$hover_button_txt: $brand_white;
//BSD Form Colors
$form_bg: $brand_gray;
$form_txt: $brand_black;
$form_btn_bg: $brand_dk_blue;
$form_btn_txt: $brand_white;
//Mobile Breakpoints
$size-large: 1365px;
$size-medium: 1024px;
$size-small: 728px;
$size-x-small: 455px;
//Padding for Sections and Grids
$grid-gutters: 0.5em 1em;
$header-padding: 1em;
$body-padding: 1em 3em;
$body-padding-mobile: 1em;
$footer-padding: 3em 1em;
$transition_type: all .7s ease;
//Mixins
@import "mixins";
@include gridGutters($grid-gutters);
@include headerPadding($header-padding);
@include bodyPadding($body-padding);
@include footerPadding($footer-padding);
//Start Theme Customizations below:
@include input;
#header {
    height: 1em;
}

#wrapper {
    background: $brand_gray;
}
#main {
    &.tags {
        .heading-logo {
            background: $brand_teal;
        }
    }
    &.add-new {
        .heading-logo {
            background: $brand_green;
        }
        .button-section {
            display: none;
        }
        .btn-row {
            text-align: right;
            .btn {
                display: inline-block;
                margin-left: 0.5em;
            }
        }
    }
    .form-control, .input-element {
        &:focus {
            @include transition;
            border-color: $brand_dk_blue;

        }
    }

    .section {
        background: $brand_white;
        margin: 1em 0;
    }
    .breadcrumbs {
        a.crumb {
            font-weight: normal;
            color: $brand_lt_blue;
            &.active {
                color: $brand_black;
            }
        }
        @include bp-small {
            a.crumb {
                display: block;
                margin: 0.5em 0;
            }
            .crumb-separator {
                display: none;
            }
        }
    }
    .page-heading {
        .row {
            padding-bottom: 0;
            .col-12 {
                padding: 0;
            }
        }
        .heading-section {
            //display: inline-block;
            & > div {
                display: inline-block;
                vertical-align: middle;
                padding: 0.5rem 0.75rem;
            }
            .heading-logo {
                font-size: 1.5em;
                color: $brand_white;

                border-radius: 4px;
                .glyphicons {
                    margin-right: 0;
                    vertical-align: bottom;
                }
            }
            .heading-label {

                .label-top {
                    text-transform: uppercase;
                }
                .label-bottom {
                    h2 {
                        margin: 0;
                        font-size: 2em;
                    }
                }
            }
        }
        .button-section {

            text-align: right;
            &.col-12 {
                padding: 0.75em 0;
            }
            @include bp-medium {
                text-align: left;
            }

            & > div {
                display: inline-block;
                padding: 0.5em;
                @include bp-medium {
                    padding: 0.5em 0.5em 0.5em 0;
                }
                .btn {
                    margin-bottom: 0;
                }
                .form-control {
                    min-width: 150px;
                    @include bp-medium {
                        min-width: 0px;
                    }
                }
            }
        }
        .button-section,.heading-section {
            @include bp-medium {
                display: block;
                float: none;
            }
        }


    }
    #filters {
        .filter-grid {
            padding: 1em;
            .row {
                padding-bottom: 1em;

            }
            .btn-col {
                text-align: right;
                .btn {
                    display: inline-block;
                    margin-left: 1em;
                }
            }
            .tag-list {
                display: none;
                position: absolute;
                z-index: 10;
                background: $brand_white;
                width: 100%;
                padding: 1em;
                @include box-shadow;
                &.active{
                    display: block;
                }
                .filter-item {
                    display: none;
                    &.active {
                        display: block;
                        padding: 0.5em 0;
                        &:hover {
                            background: $brand_gray;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    #results {
        .results-grid {
            .row {
                border-bottom: 3px solid $brand_gray;
                padding: 1em;
                background-color: $brand_white;
                &.head-row {
                    color: $brand_lt_blue;
                    font-weight: bold;
                    @include bp-medium {
                            display: none;
                    }
                }
                @include transition;
                &:hover:not(.head-row) {

                    background-color: $brand_gray;
                }

                &.no-results {

                    display: none;
                    .no-results-msg {
                        background: $brand_lt_red;
                        padding: 1em;
                        color: $brand_red;
                        font-weight: bold;
                        border-radius: 4px;
                        & > div {
                            display: inline-block;
                        }
                        .close-no-results {
                            color: darken($brand_lt_red, 15%);
                            float: right;
                            @include transition;
                            &:hover {
                                cursor: pointer;
                                color: $brand_red;
                            }
                        }
                    }
                }
            }
            .tag-row {
                opacity: 0;
                visibility: hidden;
                padding: 0;
                height: 0;
                @include custom_transition(opacity 0.7s ease);
                &.active {
                    visibility: visible;
                    opacity: 1;
                    height: auto;
                    padding: 1em;
                }
                .tag-name {
                    color: $brand_lt_blue;
                }
                .col-label {
                    display: none;
                    @include bp-medium{
                        display: inline-block;
                        color: $brand_dk_blue;
                        font-weight: bold;
                        padding-right: 0.25em;
                    }
                }
            }
        }
    }
    #add-tag-section {
        .form-fields {
            padding: 1em;

            .form-field {
                margin-bottom: 1.5em;
                input, select {
                    max-width: 500px;
                }
                input[type="radio"] {
                    margin: 0.5em;
                }

            }
            &.ratio {
                .form-field {
                    input, select {
                        max-width: 300px;
                    }
                }
            }
        }
        .form-section {
            padding: 1em;
        }
        .row {
            border-bottom: 3px solid $brand_gray;
            margin: 0 1em;
        }
        .required {
            color: $brand_red;
        }
    }
    .container {
        max-width: 100%;
    }
}
