//Default Fonts
h1, h2, h3, h4, h5 {

	color: $heading;
}
body {

	color: $body_txt;
}
b, strong {
	
	font-weight: bold;
}

//Links
a {
	font-weight: bold;
	text-decoration: none;
	color: $body_link;
	@include transition;
	&:hover, &:active, &:focus {
		color: $body_link_hover;
	}
}
