<!DOCTYPE html>
<html>

<head>
    <!-- %APP_VERSION% -->
    <meta charset="utf-8">
    {% if page.url == "/error.html" %}
    <meta http-equiv="refresh" content="3; url=/">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title and Meta Text -->
    <title>{{ site.title }}</title>
    <meta content="{{ site.description }}" name="description">
    <!-- Facebook Meta -->
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.meta_img }}">
    <!-- Twitter Meta -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@TheDemocrats">
    <meta name="twitter:creator" content="@TheDemocrats">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.meta_img }}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap-grid.min.css" />
    <!-- Progress UI CSS -->
    <link href="https://progress.ngpvan.com/stylesheets/progress.min.css" rel="stylesheet" type="text/css">
    <!-- CSS -->
    {% include base.html %}
    <link href="{{ base }}/css/style.css" rel="stylesheet" type="text/css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <!-- Twitter Popup -->
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</head>
<body>

    <div id="wrapper">
        <div id="header">
        </div>

        <div id="main" class="{{ page.title | downcase | replace: ' ', '-' }}">
            <div class="breadcrumbs">
                {% if page.title == 'Tags' %}
                <a class="crumb"> Main Menu </a><span class="crumb-separator">/</span><a class="crumb active"> Tags </a>
                {% else %}
                <a class="crumb"> Main Menu </a><span class="crumb-separator">/</span><a class="crumb"> H &amp; L Manager </a><span class="crumb-separator">/</span><a class="crumb active">Add New activity Ratio</a>
                {% endif %}
            </div>
            <div class="page-heading container">
                <div class="row">
                    <div class="heading-section col-12 col-md-6">

                            <div class="heading-logo">
                                <span class="glyphicons {{ page.icon }}" aria-hidden="true"></span>
                            </div>
                            <div class="heading-label">
                                <div class="label-top">{{ page.label-top }}</div>
                                <div class="label-bottom"><h2>{{ page.label-bottom }}</h2></div>
                            </div>

                    </div>
                    <div class="button-section col-12 col-md-6">
                        <div>
                            <select class="form-control">
                                <option value="one">One</option>
                                <option value="two">Two</option>
                                <option value="three">Three</option>
                                <option value="four">Four</option>
                                <option value="five">Five</option>
                            </select>
                        </div>
                        <div>
                            <a class="btn btn-primary" href="{{ base }}/add-new.html">Add New Tag</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if page.title == 'Tags' %}
                {% include tags.html %}
            {% else %}
                {% include add-new.html %}
            {% endif %}
        </div>
    </div>
    <!-- Scripts -->
    <script src="{{ base }}/site_functions.js"></script>
</body>
</html>
